@media(max-width:768px){
    .mobileMenu{
        position: fixed!important;
        top:0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform:translateX(-100%) ;
        transition: all ease 0.25s;
        width: 100%;
        z-index:1 ;
       
    }
    .open{
        transform:translateX(0%)!important ;

    }

    .overlay2{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: rgba(0, 0, 0, 0.555);
        display: none;
    }
    .open{
        display: block;
        transition: all ease 0.3s;
    }
}



.navbar{
    position: relative;
    z-index: 100;
}







.navbar-dark .nk {
    color: rgba(255,255,255,.5);
    border: none!important;
    font-size: 40px!important;
    opacity: 100%!important;
    
    /* border-color: rgba(255,255,255,.1); */
}